{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/ur-round2-iterations/check-answers/continue" method="post">

          {{ govukRadios({
            name: "select-provider-funded",
                     hint: {
            },
            fieldset: {
              legend: {
                text: "Select your provider",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
            },
            items: [
              {
                value: "Ambition Institute",
                text: "Ambition Institute"
              },
              {
                value: "Church of England",
                text: "Church of England"
              },
              {
                value: "LLSE",
                text: "LLSE"
              },
              {
                value: "Teach First",
                text: "Teach First"
              },
              {
                value: "UCL Institute of Education",
                text: "UCL Institute of Education"
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
