      <!--Show different tags and links on the funding row depending on the funding outcome-->
      {% set fundingRow = null %}
      {% set fundingStatus = null %}
      {% set fundingHref = null %}

      {% set maintainedNurseryIneligible = [
        "Leading behaviour and culture",
        "Leading literacy",
        "Leading teaching",
        "Leading primary mathematics",
        "Senior leadership",
        "Executive leadership"
      ] %}

      {% set maintainedNurseryEligible = [
        "Early years leadership",
        "Leading teacher development"
      ] %}

      {% set publiclyFundedEligible = [
        "Headship",
        "SENCO"
      ] %}

      {% set eligibleChildminderNpqs = ['Early years leadership', 'Leading teacher development'] %}

      {% if data['ofsted-number'] == 'A childcare agency or childminder on the disadvantaged list' and
            data['npq-funded'] in eligibleChildminderNpqs %}
        {% set fundingStatus = 'Eligible' %}
        {% set fundingHref = '/funding-messages/eligible-for-funding-early-years' %}

      {% elseif data['ofsted-number'] == 'A childcare agency or childminder on the disadvantaged list' and
              data['npq-funded'] not in eligibleChildminderNpqs %}
        {% set fundingStatus = 'Not eligible' %}
        {% set fundingHref = '/funding-messages/not-eligible-for-funding-childminder-change-npq' %}

      {% elseif data['england'] == 'No' %}
        {% set fundingStatus = 'Not eligible' %}
        {% set fundingHref = '/funding-messages/not-eligible-for-funding-england' %}

      {% elseif
        data['workplace'] == 'Maintained nursery school - disadvantaged list'
        and data['npq-funded'] in maintainedNurseryIneligible
      %}
        {% set fundingStatus = 'Not eligible' %}
        {% set fundingHref = '/funding-messages/not-eligible/maintained-nursery-disadvantaged-list' %}

      {% elseif
        data['workplace'] == 'Maintained nursery school - disadvantaged list'
        and data['npq-funded'] in maintainedNurseryEligible
      %}
        {% set fundingStatus = 'Eligible' %}
        {% set fundingHref = '/funding-messages/eligible/maintained-nursery-disadvantaged-list' %}

      {% elseif
        data['workplace'] == 'Maintained nursery school - disadvantaged list'
        and data['npq-funded'] in publiclyFundedEligible
      %}
        {% set fundingStatus = 'Eligible' %}
        {% set fundingHref = '/funding-messages/eligible/publicly-funded-nursery' %}

      {% elseif data['ofsted-number'] == 'An early years setting on the early years list' and data['npq-funded'] != 'Early years leadership' %}
        {% set fundingStatus = 'Not eligible' %}
        {% set fundingHref = '/funding-messages/not-eligible/maintained-nursery-disadvantaged-list' %}

      {% elseif data['ofsted-number'] == 'An early years setting not on the early years list' or data['do-you-have-ofsted-number'] == 'No' or data['workplace'] == 'Workplace not on any of the eligibility lists' %}
        {% set fundingStatus = 'Not eligible' %}
        {% set fundingHref = '/funding-messages/not-eligible-for-funding-workplace-not-eligible' %}

      {% elseif data['workplace'] == 'A workplace on either the schools, 16-19 or RISE list' %}
        {% set fundingStatus = 'Eligible' %}
        {% set fundingHref = '/funding-messages/eligible-for-funding' %}

      {% elseif data['workplace'] == 'A publicly funded: school, 16-19-setting, nursery, hospital school' and data['npq-funded'] in publiclyFundedEligible%}
        {% set fundingStatus = 'Eligible' %}
        {% set fundingHref = '/funding-messages/eligible/publicly-funded-setting' %}

      {% elseif data['workplace'] == 'A publicly funded: school, 16-19-setting, nursery, hospital school' and data['npq-funded'] not in publiclyFundedEligible%}
        {% set fundingStatus = 'Not eligible' %}
        {% set fundingHref = '/funding-messages/not-eligible/publicly-funded-setting' %}
      {% endif %}

      {% if fundingStatus %}
        {% set tagClass = (fundingStatus == 'Eligible' and 'govuk-tag--green') or 'govuk-tag--red' %}

        {% set fundingRow = {
          key: { text: "DfE scholarship funding" },
          value: {
            html: govukTag({
              text: fundingStatus,
              classes: tagClass
            })
          },
          actions: { items: [{ href: fundingHref, text: "View" }] }
        } %}
      {% endif %}

      <!--Show a working in England row if applicable-->
      {% set workingInEnglandRow = null %}

      {% if data['england'] %}
        {% set workingInEnglandRow = {
          key: { text: "Working in England" },
          value: { text: data['england'] },
          actions: { items: [{ href: "/funding-check/england", text: "Change" }] }
        } %}
      {% endif %}

      <!--Show a course row (funding check route) if applicable-->
      {% set courseFundingCheckRow = null %}

      {% if data['npq-funded'] %}
        {% set courseFundingCheckRow = {
          key: { text: "Course" },
          value: { text: data['npq-funded'] },
          actions: { items: [{ href: "/funding-check/select-npq", text: "Change" }] }
        } %}
      {% endif %}

      <!--Show a course row (unfunded route) if applicable-->
      {% set courseRow = null %}

      {% if data['select-npq'] %}
        {% set courseRow = {
          key: { text: "Course" },
          value: { text: data['select-npq'] },
          actions: { items: [{ href: "/unfunded-path/select-npq", text: "Change" }] }
        } %}
      {% endif %}

      <!--Show a provider row (funded route) if applicable-->
      {% set providerFundingCheckRow = null %}

      {% if data['select-provider-funded'] %}
        {% set providerFundingCheckRow = {
          key: { text: "Provider" },
          value: { text: data['select-provider-funded'] },
          actions: { items: [{ href: "/funded-follow-up/provider", text: "Change" }] }
        } %}
      {% endif %}

      <!--Show a provider row (unfunded route) if applicable-->
      {% set providerRow = null %}

      {% if data['select-provider'] %}
        {% set providerRow = {
          key: { text: "Provider" },
          value: { text: data['select-provider'] },
          actions: { items: [{ href: "/unfunded-path/select-provider", text: "Change" }] }
        } %}
      {% endif %}

      <!--Show a row outlining setting if applicable-->
      {% set settingRow = null %}

      {% if data['setting-funding-check'] %}
        {% set settingRow = {
          key: { text: "Setting" },
          value: { text: data['setting-funding-check'] },
          actions: { items: [{ href: "/funding-check/setting", text: "Change" }] }
        } %}
      {% endif %}

      <!--Show a funding source row (unfunded route) if applicable-->
      {% set fundingSourceRow = null %}

      {% if data['funding-source-not-funded'] %}
        {% set fundingSourceRow = {
          key: { text: "Funding source" },
          value: { text: data['funding-source-not-funded'] },
          actions: { items: [{ href: "/funded-follow-up/funding-source", text: "Change" }] }
        } %}
      {% endif %}

      <!--Show a funding source row (funding check route) if applicable-->
      {% set fundingSourceCheckedFundingRow = null %}

      {% if data['funding-source'] %}
        {% set fundingSourceCheckedFundingRow = {
          key: { text: "Funding source" },
          value: { text: data['funding-source'] },
          actions: { items: [{ href: "/unfunded-path/funding-source", text: "Change" }] }
        } %}
      {% endif %}

      <!--Show publicly funded nursery row if applicable-->
      {% set publiclyFundedNurseryRow = null %}

      {% if data['publicly-funded-nursery'] %}
        {% set publiclyFundedNurseryRow = {
          key: { text: "Publicly funded nursery" },
          value: { text: data['publicly-funded-nursery'] },
          actions: { items: [{ href: "/nursery-funding-check", text: "Change" }] }
        } %}
      {% endif %}

      <!--Show Ofsted row if applicable-->
      {% set ofstedNumberRow = null %}

      {% if data['do-you-have-ofsted-number'] %}
        {% set ofstedValue %}
          {{ data['do-you-have-ofsted-number'] }}
          {% if data['do-you-have-ofsted-number'] == 'Yes' and data['ofsted-number'] %}
             - {{ data['ofsted-number'] }}
          {% endif %}
        {% endset %}

        {% set ofstedNumberRow = {
          key: { text: "Registered with Ofsted" },
          value: { html: ofstedValue },
          actions: {
            items: [
              {
                href: "/funding-check/ofsted",
                text: "Change"
              }
            ]
          }
        } %}
      {% endif %}


      <!--Show a row outlining the selected workplace if this question was answered-->
      {% set workplaceRow = null %}

      {% if data['workplace'] %}
        {% set workplaceRow = {
          key: { text: "Workplace" },
          value: { text: data['workplace'] },
          actions: {
            items: [
              {
                href: "/funding-check/workplace",
                text: "Change",
                visuallyHiddenText: "workplace"
              }
            ]
          }
        } %}
      {% endif %}

      <!--Add hint text for the course start row-->
      {% set courseStartHint = '' %}
      {% if data['course-start'] == 'April 2026' %}
        {% set courseStartHint = '<p class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-0">DfE scholarship funding is not available</p>' %}
      {% elseif data['check-funding'] != 'yes' and data['course-start'] == 'November 2026' %}
        {% set courseStartHint = '<p class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-0">You’re continuing without DfE funding</p>' %}
      {% endif %}

      <!--Build the check answers table-->
      {{ govukSummaryList({
        rows: [
          {
              key: { text: "Course start" },
              value: { html: data['course-start'] + courseStartHint },
              actions: { items: [{ href: "/course-start", text: "Change", visuallyHiddenText: "course start" }] }
            },
          workingInEnglandRow,
          courseFundingCheckRow,
          settingRow,
          publiclyFundedNurseryRow,
          ofstedNumberRow,
          workplaceRow,
          fundingRow,
          courseRow,
          fundingSourceRow,
          providerFundingCheckRow,
          providerRow,
          fundingSourceCheckedFundingRow
        ]
      }) }}