{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing.'
}) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Check if you’re eligible for DfE scholarship funding
    </h1>

    <p>
      We'll ask a few questions to check if you can get funding for courses starting in Autumn 2026.
    </p>

    <p>
      You can then continue to register.
    </p>

    <div class="govuk-button-group" style="align-items: center;">

      <form class="form" action="england" method="post" style="display:inline">
        {{ govukButton({
          text: "Check funding",
          name: "check-funding",
          value: "yes"
        }) }}
      </form>

      <a class="govuk-link" href="not-in-prototype">
        Continue without DfE funding
      </a>

    </div>

  </div>
</div>

{% endblock %}