{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div style="display: flex; align-items: center; gap: 1rem;">
          <h1 class="govuk-heading-l" style="margin: 0;">
            DfE scholarship funding
          </h1>
          {{ govukTag({
            text: "Not eligible",
            classes: "govuk-tag--red"
          }) }}
      </div>

      <p class="govuk-body govuk-!-margin-top-6">
        <strong>You’re not eligible for DfE scholarship funding for the [Leading Teaching] course.</strong>
This is because your workplace is not listed as one of the highly disadvantaged schools or 16 to 19 settings.<br><br>

However, your workplace is listed as a highly disadvantaged early years setting, so you would be eligible for the Early years leadership NPQ.<br><br>

Your workplace also counts as one of the settings eligible for the SENCO and Headship NPQs.

<p class="govuk-body">
  You can go back to <a href="https://new-npq-prototype-c51933b0b125.herokuapp.com/funding-check/select-npq" class="govuk-link">change your NPQ </a>if you wish.
</p>

 

      </p>

        {{ govukButton({
          text: "Continue to register"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}