{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing.'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <div style="display: flex; align-items: center; gap: 1rem;">
          <h1 class="govuk-heading-l" style="margin: 0;">
            DfE scholarship funding
          </h1>
          {{ govukTag({
            text: "Eligible",
            classes: "govuk-tag--red"
          }) }}
      </div>

<br>
          <p>
            You’re not eligible for DfE scholarship funding because you do not work in England.
          </p>

       {{ govukButton({
  text: "Continue to register",
  href: "javascript:window.history.back()"
    }) }}


      </form>

    </div>
  </div>

{% endblock %}