{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        Check your funding eligibility
      </span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
        Enter your workplace details
      </h1>

      <form class="form" action="/ur-round3/enter-manually-answer" method="post">

        {{ govukInput({
          label: {
            text: "Workplace name"
          },
          id: "workplace-name",
          name: "workplace-name"
        }) }}

        {{ govukInput({
          label: {
            text: "Workplace address"
          },
          id: "workplace-address",
          name: "workplace-address"
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode"
          },
          id: "workplace-postcode",
          name: "workplace-postcode"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
