{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div style="display: flex; align-items: center; gap: 1rem;">
          <h1 class="govuk-heading-l" style="margin: 0;">
            DfE scholarship funding
          </h1>
          {{ govukTag({
            text: "Eligible",
            classes: "govuk-tag--green"
          }) }}
        </div>

      <p class="govuk-body govuk-!-margin-top-6">
        You’re eligible for DfE scholarship funding for the {{ data['npq-funded'] }} NPQ because your workplace is listed as one of the highly disadvantaged early years settings.
      </p>

      <form class="form" action="/funded-follow-up/provider" method="post">

        {{ govukButton({
          text: "Continue to register"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}