{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div style="display: flex; align-items: center; gap: 1rem;">
          <h1 class="govuk-heading-l" style="margin: 0;">
            DfE scholarship funding
          </h1>
          {{ govukTag({
            text: "Not eligible",
            classes: "govuk-tag--red"
          }) }}
        </div>

      <p class="govuk-body govuk-!-margin-top-6">
        You’re not eligible for DfE scholarship funding for the {{ data['npq-funded'] }} NPQ because your workplace is not listed as one of the highly disadvantaged schools or 16 to 19 settings.
      </p>

      <p>
        However, your workplace is listed as a highly disadvantaged maintained nursery, so you would be eligible for the Early years leadership NPQ.
      </p>

      <p>
        As a publicly funded nursery, you would also be eligible for the SENCO and Headship NPQs.
      </p>

      <p>
        You can go back to
        <a href="/funding-check/select-npq" class="govuk-link">change your NPQ</a>
        if you prefer.
      </p>

      {% if data['npq-funded'] == "Leading primary mathematics" %}
      <p class="govuk-body">
        Alternatively, continue to check your suitability for the Leading primary mathematics NPQ.
      </p>
      {% endif %}

      <form class="form" action="/maths-suitability-not-funded-answer" method="post">

        {% if data['npq-funded'] == "Leading primary mathematics" %}
          {{ govukButton({
            text: "Continue to check suitability"
          }) }}
        {% else %}
          {{ govukButton({
            text: "Continue to register"
          }) }}
        {% endif %}

      </form>

    </div>
  </div>

{% endblock %}