{% extends "layouts/main.html" %}

{% block pageTitle %}
  Do you have a National Insurance number? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% set trnInputHtml %}
      {{ govukInput({
        id: "trn-number",
        name: "trn-number",
        label: {
          text: "Teacher reference number (TRN)"
        },
        hint: {
          text: "It's a 7-digit number (for example 1234567)."
        },
        classes: "govuk-input--width-10",
        value: data['trn-number']
      }) }}
    {% endset %}

    <form action="/finalised-journeys/trn-answer" method="post">

      {{ govukRadios({
        name: "has-trn",
        fieldset: {
          legend: {
            text: "Do you have a teacher reference number (TRN)?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            conditional: {
              html: trnInputHtml
            }
          },
          {
            value: "No",
             text: "No, I've never received one"
          }
        ]
      }) }}  
       
 <p class="govuk-body">
  If you cannot remember or find your TRN use the <a href="https://find-a-lost-trn.education.gov.uk/start" class="govuk-link">Find a lost TRN service (opens in a new tab)</a>.
</p>
 {% set trnDetails %}

    
<p class="govuk-body">
   It is a 7-digit number that uniquely identifies you in the education sector in England.
</p>

<p class="govuk-body">
  You'll have a TRN if you:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>hold qualified teacher status (QTS) in England or Wales</li>
  <li>hold early years teacher status (EYTS) in England</li>
  <li>hold a national professional qualification (NPQ)</li>
  <li>are working towards QTS, EYTS or an NPQ</li>
  <li>contribute to the Teachers' Pension Scheme in England or Wales</li>
  <li>have a relevant restriction in relation to teaching in England</li>
</ul>

<p class="govuk-body">
  You may not have one yet if you work in early years, further education or are qualified as a teacher outside of England.
</p>
{% endset %}

{{ govukDetails({
  summaryText: "What is a TRN?",
  html: trnDetails
}) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
