{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing.  <a class="govuk-link" href="/ur-round2/funding-check/setting-v2">Show version 2</a>'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Check your funding eligibility
    </span>

    <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
      Which setting do you work in?
    </h1>

    <form class="form" action="/ur-round2/setting-funding-check-answer" method="post">
   <h2 class="govuk-heading-m">Mainstream settings</h2>

      {{ govukRadios({
        idPrefix: "ur1-setting-mainstream",
        name: "ur1-setting",
        fieldset: {
          legend: {
            text: "What setting do you work in?",
            classes: "govuk-visually-hidden"
          }
        },
        items: [
          {
            value: "Early years",
            text: "Early years",
            hint: {
              text: "Nurseries, preschools, playgroups, childminders"
            }
          },
          { value: "Primary school", text: "Primary school" },
          { value: "Secondary school", text: "Secondary school" },
          { 
            value: "Post 16 provider", 
            text: "Post-16 provider (ages 16 to 19)",
            hint: {
              text: "Sixth forms, further education colleges"
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Specialist settings</h2>

      {{ govukRadios({
        idPrefix: "ur1-setting-specialist",
        name: "ur1-setting",
        fieldset: {
          legend: {
            text: "",
            classes: "govuk-visually-hidden"
          }
        },
        items: [
          { value: "Special school", text: "Special school or Special educational needs and disabilities (SEND) unit" },
          {
            value: "Alternative provision",
            text: "Alternative provision (AP)",
            hint: {
              text: "Pupil referral units (PRUs), AP academies"
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Multi-organisation roles</h2>

      {{ govukRadios({
        idPrefix: "ur1-setting-multi",
        name: "ur1-setting",
        fieldset: {
          legend: {
            text: "",
            classes: "govuk-visually-hidden"
          }
        },
        items: [
          { value: "Academy trust", text: "Academy trust" },
          { value: "Working across schools", text: "Local authority – working across schools" }
        ]
      }) }}

      <h2 class="govuk-heading-m">Other local authority settings</h2>

      {{ govukRadios({
        idPrefix: "ur1-setting-other",
        name: "ur1-setting",
        fieldset: {
          legend: {
            text: "",
            classes: "govuk-visually-hidden"
          }
        },
        items: [
          { value: "Secure children's home or training centre", text: "Secure children's home or training centre" },
          { value: "Virtual school", text: "Virtual school" },
          { value: "Hospital school", text: "Hospital school" },
          { value: "As a lead mentor for an accredited ITT provider", text: "Initial teacher training (ITT) – as a lead mentor" },
          { value: "Other", text: "Other" }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
