{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


<h1 class="govuk-heading-l">
Iterations for UR round 1 (Elegibility checker)
  </h1>


  <p>February 2026</p>

  <p>
    <a href="https://lucid.app/lucidspark/35eb8f9a-dc28-4387-8e3c-652e13f0ee29/edit?viewport_loc=130354%2C67798%2C60032%2C29301%2C0_0&invitationId=inv_595074a0-0940-4d6c-9d15-78393d995228" target="blank">Raw research outputs</a> (Lucid board)
    <br>
    <a href="#" target="https://educationgovuk.sharepoint.com.mcas.ms/:p:/s/TeacherServices/IQDh2KeC5y1SSIG1H08_VADqARmR6oFOV3vgSWL1SxZiyyA?e=tdoa0E&wdOrigin=TEAMS-WEB.null_ns.rwc&wdExp=TEAMS-TREATMENT&wdhostclicktime=1772703672849&web=1">Playback link</a> (to be added post-playback)
  </p>


  <p>
    Following our first round of UR, there are some changes we would like to propose.
  </p>

<ul class="govuk-list govuk-list--bullet">
  <li>Simplify Setting Selection</li>
  <li>Improve NPQ Course Clarity</li>
  <li>Improve clarity around provider choice</li>
  <li>Strengthen ineligibility messaging</li>
  <li>Consider removing redundant steps </li>
</ul>

 
<div class="govuk-!-padding-bottom-3"></div>

 <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Link</th>
      <th scope="col" class="govuk-table__header">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

    
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="start">Proto start page: select scenario</a></td>
      <td class="govuk-table__cell">Prototype only. Lets user select the scenario.</td>
    </tr>

     <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="start-page">Service start page</a></td>
      <td class="govuk-table__cell">Explanation of the NPQ service.</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="course-start">Cohort selection</a></td>
      <td class="govuk-table__cell">Autumn or spring cohort</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="before-you-start">Before you start</a></td>
      <td class="govuk-table__cell">Some information for the autumn cohort</td>
    </tr>

      <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="england">Location selection</a></td>
      <td class="govuk-table__cell">Do you work in England?</td>
    </tr>
    

          <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="select-npq">NPQ selection</a></td>
      <td class="govuk-table__cell">Select NPQ type. Leading teaching and SENCO routes are present in this prototype, so either can be selected.</td>
    </tr>


          <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="setting">Setting selection</a></td>
      <td class="govuk-table__cell">Setting selection. School is present in this prototype, all other routes lead to 'not in prototype'.</td>
    </tr>


          <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="workplace">Workplace selection</a></td>
      <td class="govuk-table__cell">Workplace. <b>Greenfield High School</b> and <b>Little Acorns Nursery</b> are available routes in this prototype.</td>
    </tr>

     <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="eligible1">Eligibility page</a></td>
      <td class="govuk-table__cell">Used for the Leading teaching/SENCO route.</td>
    </tr>

          <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="early-years-setting">Early years setting</a></td>
      <td class="govuk-table__cell">Setting page specific for early years</td>
    </tr>

        <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="ofsted">Ofsted</a></td>
      <td class="govuk-table__cell">Ofsted routing for early years. <b>AB11111111</b> goes to an ineligible page, <b>XX88888888</b> goes to the eligible page [content pending].</td>
    </tr>

    </tbody>
    </table>
   


    
  
{% endblock %}
