{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="interstitial" method="post">

      <div style="display: flex; align-items: center; gap: 1rem;">
          <h1 class="govuk-heading-l" style="margin: 0;">
            DfE scholarship funding
          </h1>
          {{ govukTag({
            text: "Not eligible",
            classes: "govuk-tag--red"
          }) }}
      </div>

      <p class="govuk-body govuk-!-margin-top-6">
        You’re not eligible for DfE scholarship funding for the {{ data ['ur1-npq'] }} course because you do not meet the <a href="https://www.gov.uk/government/publications/funding-for-national-professional-qualifications-npqs" class="govuk-link govuk-link--no-underline">funding criteria</a>.<br><br>

However, you are eligible for funding for either the Headship or the Special educational needs co-ordinator (SENCO) courses.<br>

<h2 class="govuk-heading-m govuk-!-margin-top-6">What you can do next</h2>

<p class="govuk-body">You can either:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>continue to register for {{ data ['ur1-npq'] }} course without DfE funding (you or your workplace would need to cover the cost), or</li>
  <li>go back and <a href="select-npq" class="govuk-link govuk-link--no-underline">choose the Headship or SENCO course</a> to register for instead</li>
</ul>

 

      </p>

        {{ govukButton({
          text: "Register without DfE funding"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}