{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing.'
}) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        Check your funding eligibility
      </span>

      <h1 class="govuk-heading-l">
        Your workplace
      </h1>

      <p class="govuk-body">
       Search for your workplace using the name, postcode, unique reference number (URN) or street name.
      </p>

      <p class="govuk-body">
        If you work for a trust, search for one of its schools.
      </p>

      
  <form class="form" action="/ur1-workplace" method="post">

  {{ xGovukAutocomplete({
    id: "ur1-workplace",
    name: "ur1-workplace",
    allowEmpty: false,
    label: {
      classes: "govuk-label--m",
      isPageHeading: false,
      text: "Search for your workplace"
    },
    items: [
      { text: "The Aldgate School", value: "test1" },
      { text: "West Hampstead Primary School", value: "test2" },
      { text: "Christ Church School", value: "test3" },
      { text: "Greenfield High School", value: "scenario1" },
      { text: "St Mary's Kilburn Church of England Primary School", value: "test4" },
      { text: "Regent High School", value: "test5" },
      { text: "London Fields Primary School", value: "test6" },
      { text: "Princess May Primary School", value: "test7" },
      { text: "Little Acorns Nursery", value: "scenario2" }
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

  <div class="govuk-inset-text">
  <strong>If you cannot find your workplace</strong><br>
  <br>You can check the details you've entered are correct on <a href="#" class="govuk-link" target="_blank">Get information about schools (opens in a new tab)</a>.
</div>



</form>
    </div>
  </div>
{% endblock %}