{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Check your funding eligibility
    </span>

    <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
      Is your workplace registered with Ofsted?
    </h1>

      <form class="form" action="/ofsted-number-funding-check-answer" method="post">

        {% set ofstedNumberInput %}
          {{ xGovukAutocomplete({
            id: "ofsted-number",
            name: "ofsted-number",
            allowEmpty: false,
            label: {
              text: "Your Ofsted unique reference number",
              classes: "govuk-label--s"
            },
            hint: {
              text: "Starts with EY"
            },
            items: [
              { text: "A childcare agency or childminder on the disadvantaged list", value: "A childcare agency or childminder on the disadvantaged list" }
            ]
          }) }}
        {% endset %}

        {{ govukRadios({
          name: "do-you-have-ofsted-number",
          fieldset: {
            legend: {
              text: "Do you have an Ofsted unique reference number?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: false,
              conditional: {
                html: ofstedNumberInput
              }
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}