{% extends "layouts/main.html" %}

{% block pageTitle %}
  Find your teaching record – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


   <div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Your GOV.UK OneLogin is now connected to your teaching record
  </h1>
</div>
    
    <h1 class="govuk-heading-m">
      What happens next
    </h1>

    <p class="govuk-body">
      You can return to <a href="../check-answers/submit">Register for a national professional qualification</a> service.
    </p>
  </div>
</div>

{% endblock %}
