{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype used for testing.'
}) }}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/finalised-journeys/unfunded-path/select-provider" method="post">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
        Select your NPQ
      </h1>
         
          {{ govukRadios({
              name: "npq-funded",
              fieldset: {
                legend: {
                  text: "Select your NPQ",
                  classes: "govuk-visually-hidden"
                }
              },
            items: [
              {
                value: "Early years leadership",
                text: "Early years leadership"
              },
              {
                value: "Executive leadership",
                text: "Executive leadership"
              },
              {
                value: "Headship",
                text: "Headship"
              },
              {
                value: "Leading behaviour and culture",
                text: "Leading behaviour and culture"
              },
              {
                value: "Leading literacy",
                text: "Leading literacy"
              },
              {
                value: "Leading primary mathematics",
                text: "Leading primary mathematics"
              },
              {
                value: "Leading teaching",
                text: "Leading teaching",
                hint: {
                  text: "Lead teaching and learning for a subject, year group or phase"
                }
              },
              {
                value: "Leading teacher development",
                text: "Leading teacher development",
                hint: { 
                  text: "Develop other teachers and support their professional growth"
                }
              },
              {
                value: "Senior leadership",
                text: "Senior leadership"
              },
              {
                value: "SENCO",
                text: "Special educational needs co-ordinator"
              },
              {
                divider: "or"
              },
              {
                value: "Early headship coaching offer",
                text: "Early headship coaching offer",
                hint: {
                  text: "Networking and support if you're in your first 5 years of headship"
                }
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
