{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
      Continue through GOV.UK One Login
    </h1>

      <p class="govuk-body">You need to create an account or sign in through GOV.UK One Login before you can submit your NPQ registration.</p>

      <p class="govuk-body">This allows us to verify your identity before sending your registration to your NPQ provider.</p>

      <form action="/one-login-wrapper/signed-in" method="post" novalidate>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
  </div>

{% endblock %}