{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Continue to register
      </h1>

      {% set fundingRow = null %}

      {% if
        data['ofsted-number'] == 'An early years setting on the early years list'
        and data['npq-funded'] == 'Early years leadership'
      %}

        {% set fundingRow = {
          key: { text: "DfE scholarship funding" },
          value: {
            html: govukTag({
              text: "Eligible",
              classes: "govuk-tag--green"
            })
          },
          actions: { items: [{ href: "/eligible-for-funding-early-years", text: "View" }] }
        } %}

      {% elseif
        data['ofsted-number'] == 'An early years setting on the early years list'
        and data['npq-funded'] != 'Early years leadership'
      %}

        {% set fundingRow = {
          key: { text: "DfE scholarship funding" },
          value: {
            html: govukTag({
              text: "Not eligible",
              classes: "govuk-tag--red"
            })
          },
          actions: { items: [{ href: "/not-eligible-for-funding-early-years-change-npq", text: "View" }] }
        } %}

      {% elseif
        data['ofsted-number'] == 'An early years setting not on the early years list'
      %}

        {% set fundingRow = {
          key: { text: "DfE scholarship funding" },
          value: {
            html: govukTag({
              text: "Not eligible",
              classes: "govuk-tag--red"
            })
          },
          actions: { items: [{ href: "/not-eligible-for-funding-workplace-not-eligible", text: "View" }] }
        } %}

      {% elseif data['do-you-have-ofsted-number'] == 'No' %}

      {% set fundingRow = {
        key: { text: "DfE scholarship funding" },
        value: {
          html: govukTag({
            text: "Not eligible",
            classes: "govuk-tag--red"
          })
        },
        actions: { items: [{ href: "/not-eligible-for-funding-workplace-not-eligible", text: "View" }] }
      } %}

      {% elseif data['workplace'] == 'Workplace on one of the eligibility lists' %}

        {% set fundingRow = {
          key: { text: "DfE scholarship funding" },
          value: {
            html: govukTag({
              text: "Eligible",
              classes: "govuk-tag--green"
            })
          },
          actions: { items: [{ href: "/eligible-for-funding", text: "View" }] }
        } %}

      {% elseif data['workplace'] == 'Workplace not on any of the eligibility lists' %}

        {% set fundingRow = {
          key: { text: "DfE scholarship funding" },
          value: {
            html: govukTag({
              text: "Not eligible",
              classes: "govuk-tag--red"
            })
          },
          actions: { items: [{ href: "/not-eligible-for-funding-workplace-not-eligible", text: "View" }] }
        } %}

      {% endif %}

      {% set fundingSourceRow = null %}

      {% if
          (data['workplace'] == 'Workplace not on any of the eligibility lists' and data['funding-source-not-funded'])
          or (data['do-you-have-ofsted-number'] == 'No' and data['funding-source-not-funded'])
          or (data['ofsted-number'] == 'An early years setting not on the early years list' and data['funding-source-not-funded'])
          or (data['ofsted-number'] == 'An early years setting on the early years list' and data['npq-funded'] != 'Early years leadership' and data['funding-source-not-funded'])
      %}
        {% set fundingSourceRow = {
          key: { text: "Funding source" },
          value: { text: data['funding-source-not-funded'] },
          actions: { items: [{ href: "/funding-source-not-funded", text: "Change" }] }
        } %}
      {% endif %}


      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Course start"
            },
            value: {
              text: data['course-start']
            },
            actions: {
              items: [
                {
                  href: "/course-start",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          {
            key: {
              text: "Working in England"
            },
            value: {
              text: data['england']
            },
            actions: {
              items: [
                {
                  href: "/england-funding-check",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          {
            key: {
              text: "Course"
            },
            value: {
              text: data['npq-funded']
            },
            actions: {
              items: [
                {
                  href: "/select-npq-funding-check",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          {
            key: {
              text: "Setting"
            },
            value: {
              text: data['setting-funding-check']
            },
            actions: {
              items: [
                {
                  href: "/setting-funding-check",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          {
            key: {
              text: "Workplace"
            },
            value: {
              text: data['workplace']
            },
            actions: {
              items: [
                {
                  href: "/workplace-funding-check",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          },
          fundingRow,
          fundingSourceRow,
          {
            key: {
              text: "Provider"
            },
            value: {
              text: data['select-provider-funded']
            },
            actions: {
              items: [
                {
                  href: "/select-provider-funded",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Verify your identity
      </h2>

      <p>
        You’ll be redirected to check your identity via DfE Identity. You can still check or change your answers before submitting your registration.
      </p>

      <form action="/confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}