{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Registrations are closed for DfE scholarship funded NPQs
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

        <p>
          You can come back later to check your eligibility for funding and register.
        </p>

        <p>
          You can sign up to be notified when registration opens for DfE scholarship funded NPQs.
        </p>

        <p>
          Alternatively, you can continue without DfE funding.
        </p>

        <div class="govuk-button-group">
          {{ govukButton({
          text: "Sign up for updates"
          }) }}

          <a class="govuk-link" href="#">Continue without DfE funding</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}