{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Check your answers
      </h1>

      {% set courseHint = '' %}
      {% if data['course-start'] == 'April 2026' %}
        {% set courseHint = '<p class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-0">DfE scholarship funding is not available</p>' %}
      {% elseif data['check-funding'] != 'yes' and data['course-start'] == 'November 2026' %}
        {% set courseHint = '<p class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-0">You’re continuing without DfE funding</p>' %}
      {% endif %}

      {% if data['england'] === 'No'
            and data['course-start'] === 'November 2026'
            and data['check-funding'] === 'yes' %}

        {{ govukSummaryList({
          rows: [
            {
              key: { text: "Course start" },
              value: { html: data['course-start'] + courseHint },
              actions: { items: [{ href: "/course-start", text: "Change", visuallyHiddenText: "course start" }] }
            },
            {
              key: { text: "Working in England" },
              value: { text: data['england'] },
              actions: { items: [{ href: "/england-funding-check", text: "Change", visuallyHiddenText: "england" }] }
            },
            {
              key: { text: "DfE scholarship funding" },
              value: {
                html: govukTag({
                  text: "Not eligible",
                  classes: "govuk-tag--red"
                })
              },
              actions: { items: [{ href: "/funding-messages/not-eligible-for-funding-england", text: "View", visuallyHiddenText: "course" }] }
            },
            {
              key: { text: "Course" },
              value: { text: data['select-npq'] },
              actions: { items: [{ href: "/select-NPQ", text: "Change", visuallyHiddenText: "course" }] }
            },
            {
              key: { text: "Provider" },
              value: { text: data['select-provider'] },
              actions: { items: [{ href: "/select-provider", text: "Change", visuallyHiddenText: "provider" }] }
            },
            {
              key: { text: "Funding source" },
              value: { text: data['funding-source'] },
              actions: { items: [{ href: "/funding-source", text: "Change", visuallyHiddenText: "funding source" }] }
            }
          ]
        }) }}

      {% elseif data['check-funding'] === 'no' and data['course-start'] === 'November 2026' %}

        {{ govukSummaryList({
          rows: [
            {
              key: { text: "Course start" },
              value: { html: data['course-start'] + courseHint },
              actions: { items: [{ href: "/course-start", text: "Change", visuallyHiddenText: "course start" }] }
            },
            {
              key: { text: "Course" },
              value: { text: data['select-npq'] },
              actions: { items: [{ href: "/select-NPQ", text: "Change", visuallyHiddenText: "course" }] }
            },
            {
              key: { text: "Provider" },
              value: { text: data['select-provider'] },
              actions: { items: [{ href: "/select-provider", text: "Change", visuallyHiddenText: "provider" }] }
            },
            {
              key: { text: "Funding source" },
              value: { text: data['funding-source'] },
              actions: { items: [{ href: "/funding-source", text: "Change", visuallyHiddenText: "funding source" }] }
            }
          ]
        }) }}

      {% else %}

        {{ govukSummaryList({
          rows: [
            {
              key: { text: "Course start" },
              value: { html: data['course-start'] + courseHint },
              actions: { items: [{ href: "/course-start", text: "Change", visuallyHiddenText: "course start" }] }
            },
            {
              key: { text: "Course" },
              value: { text: data['select-npq'] },
              actions: { items: [{ href: "/select-NPQ", text: "Change", visuallyHiddenText: "course" }] }
            },
            {
              key: { text: "Provider" },
              value: { text: data['select-provider'] },
              actions: { items: [{ href: "/select-provider", text: "Change", visuallyHiddenText: "provider" }] }
            },
            {
              key: { text: "Funding source" },
              value: { text: data['funding-source'] },
              actions: { items: [{ href: "/funding-source", text: "Change", visuallyHiddenText: "funding source" }] }
            }
          ]
        }) }}

      {% endif %}

      <h2 class="govuk-heading-m govuk-!-margin-top-7">
        Continue to register
      </h2>

      <p>You can still check or change your answers later.</p>

      <form action="/one-login-wrapper/continue" method="post" novalidate>
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}