{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Continue to register
      </h1>

      {% set courseHint = '' %}
      {% if data['course-start'] == 'April 2026' %}
        {% set courseHint = '<p class="govuk-hint">DfE scholarship funding is not available for courses starting in April</p>' %}
      {% endif %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Course start"
            },
            value: {
              html: data['course-start'] + courseHint
            },
            actions: {
              items: [
                {
                  href: "/course-start",
                  text: "Change",
                  visuallyHiddenText: "Change course start"
                }
              ]
            }
          },
          {
            key: {
              text: "Course"
            },
            value: {
              text: data['select-npq']
            },
            actions: {
              items: [
                {
                  href: "/select-NPQ",
                  text: "Change",
                  visuallyHiddenText: "Change course"
                }
              ]
            }
          },
          {
            key: {
              text: "Provider"
            },
            value: {
              text: data['select-provider']
            },
            actions: {
              items: [
                {
                  href: "/select-provider",
                  text: "Change",
                  visuallyHiddenText: "Change provider"
                }
              ]
            }
          },
          {
            key: {
              text: "Funding source"
            },
            value: {
              text: data['funding-source']
            },
            actions: {
              items: [
                {
                  href: "/funding-source",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Verify your identity
      </h2>

      <p>
        You’ll be redirected to check your identity via DfE Identity. You can still check or change your answers before submitting your registration.
      </p>

      <form action="/confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}