{% extends "layouts/main.njk" %}

{% block pageTitle %}
  Early Years Leadership Diagram – {{ serviceName }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">
  Who is eligible for funding for each NPQ
</h1>

{% set diagramStyle = "margin-bottom: 3rem;" %}

<div class="mermaid" style="{{ diagramStyle }}">
  graph TD
    NPQ[Early years leadership]

    NPQ --> A[RISE list]
    NPQ --> B[Schools list]
    NPQ --> C[16-19 list]
    NPQ --> D[early years list]
    NPQ --> E[maintained nursery list]
    NPQ --> F[childminder list]

    class NPQ mainBox;
    class A,B,C,D,E,F subBox;

    classDef mainBox fill:#FFD700,stroke:#333,stroke-width:2px;
    classDef subBox fill:#87CEFA,stroke:#333,stroke-width:1px;
</div>

<div class="mermaid" style="{{ diagramStyle }}">
  graph TD
    NPQ[Leading teacher development]

    NPQ --> A[RISE list]
    NPQ --> B[schools list]
    NPQ --> C[16-19 list]
    NPQ --> D[ITT lead mentors]

    class NPQ mainBox;
    class A,B,C,D subBox;

    classDef mainBox fill:#FFD700,stroke:#333,stroke-width:2px;
    classDef subBox fill:#87CEFA,stroke:#333,stroke-width:1px;
</div>

<div class="mermaid" style="{{ diagramStyle }}">
  graph TD
    NPQ[Executive leadership]

    NPQ --> A[RISE list]
    NPQ --> B[schools list]
    NPQ --> C[16-19 list]

    class NPQ mainBox;
    class A,B,C subBox;

    classDef mainBox fill:#FFD700,stroke:#333,stroke-width:2px;
    classDef subBox fill:#87CEFA,stroke:#333,stroke-width:1px;
</div>

<div class="mermaid" style="{{ diagramStyle }}">
  graph TD
    NPQ[Senior leadership]

    NPQ --> A[RISE list]
    NPQ --> B[schools list]
    NPQ --> C[16-19 list]

    class NPQ mainBox;
    class A,B,C subBox;

    classDef mainBox fill:#FFD700,stroke:#333,stroke-width:2px;
    classDef subBox fill:#87CEFA,stroke:#333,stroke-width:1px;
</div>

<div class="mermaid" style="{{ diagramStyle }}">
  graph TD
    NPQ[Leading primary maths]

    NPQ --> A[RISE list]
    NPQ --> B[schools list]
    NPQ --> C[16-19 list]

    class NPQ mainBox;
    class A,B,C subBox;

    classDef mainBox fill:#FFD700,stroke:#333,stroke-width:2px;
    classDef subBox fill:#87CEFA,stroke:#333,stroke-width:1px;
</div>

<div class="mermaid" style="{{ diagramStyle }}">
  graph TD
    NPQ[Leading literacy]

    NPQ --> A[RISE list]
    NPQ --> B[schools list]
    NPQ --> C[16-19 list]

    class NPQ mainBox;
    class A,B,C subBox;

    classDef mainBox fill:#FFD700,stroke:#333,stroke-width:2px;
    classDef subBox fill:#87CEFA,stroke:#333,stroke-width:1px;
</div>

<div class="mermaid" style="{{ diagramStyle }}">
  graph TD
    NPQ[Leading behaviour and culture]

    NPQ --> A[RISE list]
    NPQ --> B[schools list]
    NPQ --> C[16-19 list]

    class NPQ mainBox;
    class A,B,C subBox;

    classDef mainBox fill:#FFD700,stroke:#333,stroke-width:2px;
    classDef subBox fill:#87CEFA,stroke:#333,stroke-width:1px;
</div>

<div class="mermaid" style="{{ diagramStyle }}">
  graph TD
    NPQ[Leading teaching]

    NPQ --> A[RISE list]
    NPQ --> B[schools list]
    NPQ --> C[16-19 list]

    class NPQ mainBox;
    class A,B,C subBox;

    classDef mainBox fill:#FFD700,stroke:#333,stroke-width:2px;
    classDef subBox fill:#87CEFA,stroke:#333,stroke-width:1px;
</div>

<div class="mermaid" style="{{ diagramStyle }}">
  graph TD
    NPQ[EHCO]

    NPQ --> A[In your first 5 years of headship in England in a state-funded school or 16 to 19 organisation - currently doing or have done the NPQH]

    class NPQ mainBox;
    class A subBox;

    classDef mainBox fill:#FFD700,stroke:#333,stroke-width:2px;
    classDef subBox fill:#87CEFA,stroke:#333,stroke-width:1px;
</div>

<h2 class="govuk-heading-s">
  SENCO and Headship
</h2>

<p class="govuk-body">
  Establishments on the RISE, schools, 16-19, and maintained nursery lists would
  naturally fall under these settings. Establishments on the early years list
  could fall under these settings.
</p>

<div class="mermaid" style="{{ diagramStyle }}">
  graph TD
    NPQ[SENCO]

    NPQ --> A[Young offender institutions]
    NPQ --> B[Hospital schools]
    NPQ --> C[Publicly funded schools]
    NPQ --> D[Publicly funded nurseries]
    NPQ --> E[Publicly funded 16-19 settings]
    NPQ --> F[Some local authority roles]

    class NPQ mainBox;
    class A,B,C,D,E,F subBox;

    classDef mainBox fill:#FFD700,stroke:#333,stroke-width:2px;
    classDef subBox fill:#87CEFA,stroke:#333,stroke-width:1px;
</div>

<div class="mermaid" style="{{ diagramStyle }}">
  graph TD
    NPQ[Headship]

    NPQ --> A[Young offender institutions]
    NPQ --> B[Hospital schools]
    NPQ --> C[Publicly funded schools]
    NPQ --> D[Publicly funded nurseries]
    NPQ --> E[Publicly funded 16-19 settings]
    NPQ --> F[Some local authority roles]

    class NPQ mainBox;
    class A,B,C,D,E,F subBox;

    classDef mainBox fill:#FFD700,stroke:#333,stroke-width:2px;
    classDef subBox fill:#87CEFA,stroke:#333,stroke-width:1px;
</div>

{% endblock %}
