{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/select-provider-funded" method="post">

          {{ govukRadios({
            name: "funding-source",
            fieldset: {
              legend: {
                text: "How will you fund your course?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "My workplace is paying",
                text: "My workplace is paying"
              },
              {
                value: "I’m paying",
                text: "I’m paying"
              },
              {
                divider: "or"
              },
              {
                value: "Another way",
                text: "Another way",
                hint: {
                  text: "For example, you’re sharing the costs with your workplace"
                }
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}