{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
 <h1 class="govuk-heading-l">Main screen index for current prototypes</h1>


 <table class="govuk-table">
      <caption class="govuk-table__caption govuk-caption-xl">Iterations from round 2</caption>
       <caption class="govuk-table__caption govuk-caption-s">March 2026</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header" width="15%">Link</th>
          <th scope="col" class="govuk-table__header" width="25%">Status</th>
          <th scope="col" class="govuk-table__header">Changelog</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
             <a href="ur-round2-iterations/_screen-index.html">Full screen index</a>
             
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--light-blue">
           Iterations in progress
            </span>
         
          </td>
          <td class="govuk-table__cell">
            <p>
             Following on from round 2, we identified some content changes we can make to clarify what parts of the journey are DfE responsibility and what lies with the provider.
          </p>
          <p>
        
        <div class="govuk-inset-text">
              <i>
             18th March 2026
            </i> 
            <br><br>
            In progress.
            </div>
          </td>
        </tr>

        </tbody>
        </table>

<table class="govuk-table">
      <caption class="govuk-table__caption govuk-caption-xl">UR round 2: EC iterations and TeacherAuth</caption>
       <caption class="govuk-table__caption govuk-caption-s">March 2026</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header" width="15%">Link</th>
          <th scope="col" class="govuk-table__header" width="25%">Status</th>
          <th scope="col" class="govuk-table__header">Changelog</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
             <a href="ur-round2/_screen-index.html">Full screen index</a>
             
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--green">
           Completed
            </span>
         
          </td>
          <td class="govuk-table__cell">
            <p>
             Following on from round 1, we identified some improvements we can make on the eligibility checker.
          </p>
          <p>
        
        <div class="govuk-inset-text">
              <i>
             5th March 2026
            </i> 
            <br><br>
           Completed
            </div>
          </td>
        </tr>

        </tbody>
        </table>

<table class="govuk-table">
      <caption class="govuk-table__caption govuk-caption-xl">Iterations from UR Round 1</caption>
       <caption class="govuk-table__caption govuk-caption-s">February 2026</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header" width="15%">Link</th>
          <th scope="col" class="govuk-table__header" width="25%">Status</th>
          <th scope="col" class="govuk-table__header">Changelog</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
             <a href="ur-round1-iterations/_screen-index.html">Full screen index</a>
             
          </td>
          <td class="govuk-table__cell">
            <a href="#" target="https://educationgovuk.sharepoint.com.mcas.ms/:p:/s/TeacherServices/IQDh2KeC5y1SSIG1H08_VADqARmR6oFOV3vgSWL1SxZiyyA?e=tdoa0E&wdOrigin=TEAMS-WEB.null_ns.rwc&wdExp=TEAMS-TREATMENT&wdhostclicktime=1772703672849&web=1">Playback link</a>
            <br><br>
            <span class="govuk-tag govuk-tag--green">
           Iterations completed
            </span>
         
          </td>
          <td class="govuk-table__cell">
            <p>
             This is where we'll make the iterations to the prototype based on findings from UR round 1.
          </p>
          <p>
        
        <div class="govuk-inset-text">
              <i>
             27th February 2026
            </i> 
            <br><br>
           Completed
            </div>
          </td>
        </tr>

        </tbody>
        </table>

  <table class="govuk-table">
      <caption class="govuk-table__caption govuk-caption-xl">UR round 1: Eligibility checker</caption>
       <caption class="govuk-table__caption govuk-caption-s">February 2026</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header" width="15%">Link</th>
          <th scope="col" class="govuk-table__header" width="25%">Status</th>
          <th scope="col" class="govuk-table__header">Changelog</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
             <a href="ur-round1/_screen-index.html">Full screen index</a>
             
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--green">
            Completed
            </span>
         
          </td>
          <td class="govuk-table__cell">
            <p>
             Designs created to check the eligibility checker on NPQ. This has been made to check whether users understand the content and if the changes made can be easily navigated.
          </p>
          <p>
        
        <div class="govuk-inset-text">
              <i>
             February 2026
            </i> 
            <br><br>
           Completed and ready for UR.
            </div>
          </td>
        </tr>

        </tbody>
        </table>


    
    
    <h1 class="govuk-heading-l">Older prototypes</h1>


    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/start">Concept test one</a>
      </li>
      <li>
        <a class="govuk-link" href="/diagram">Who is eligible for funding for each NPQ</a>
      </li>
    </ul>

{% include "govuk-prototype-kit/includes/homepage-top.njk" %}
  </div>
</div>

{% endblock %}