{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You’re not eligible for DfE scholarship funding for the {{ data['npq-funded'] }} NPQ
      </h1>

      <p>
        However, your workplace is eligible for the Early years leadership NPQ.
      </p>

      <p>
        You can go back to
        <a href="/select-npq-funding-check" class="govuk-link">change your NPQ</a>
        if you prefer.
      </p>

      <form class="form" action="/select-provider-funded" method="post">

        {{ govukButton({
          text: "Continue to register"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}