{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">
      Check your funding eligibility
    </span>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      What is your role?
    </h1>

      <form class="form" action="/path/of/next/page" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "What is your role?",
            classes: "govuk-label--xl govuk-visually-hidden",
            isPageHeading: true
          },
          id: "event-name",
          name: "eventName"
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}