{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        Check your funding eligibility
      </span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
        Select your NPQ
      </h1>

      <form class="form" action="/setting-funding-check" method="post">

          {{ govukRadios({
              name: "npq-funded",
              fieldset: {
                legend: {
                  text: "Select your NPQ",
                  classes: "govuk-visually-hidden"
                }
              },
            items: [
              {
                value: "Leading behaviour and culture",
                text: "Leading behaviour and culture"
              },
              {
                value: "Leading literacy",
                text: "Leading literacy"
              },
              {
                value: "Leading teaching",
                text: "Leading teaching"
              },
              {
                value: "Leading teacher development",
                text: "Leading teacher development"
              },
              {
                value: "Leading primary mathematics",
                text: "Leading primary mathematics"
              },
              {
                value: "Senior leadership",
                text: "Senior leadership"
              },
              {
                value: "Headship",
                text: "Headship"
              },
              {
                value: "Executive leadership",
                text: "Executive leadership"
              },
              {
                value: "Early years leadership",
                text: "Early years leadership"
              },
              {
                value: "NPQ for SENCOs",
                text: "NPQ for SENCOs"
              },
              {
                divider: "or"
              },
              {
                value: "early headship coaching offer",
                text: "Early headship coaching offer",
                hint: {
                  text: "Networking and support if you’re in your first 5 years of headship"
                }
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}