{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">
      Check your funding eligibility
    </span>

    <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
      What setting do you work in?
    </h1>

    <form class="form" action="/setting-funding-check-answer" method="post">

      {{ govukRadios({
        name: "setting-funding-check",
        fieldset: {
          legend: {
            text: "What setting do you work in?",
            classes: "govuk-visually-hidden"
          }
        },
        items: [
          { value: "School", text: "School" },
          { value: "Academy trust", text: "Academy trust" },
          { value: "16 to 19 setting", text: "16 to 19 setting" },
          { value: "Nursery", text: "Nursery" },
          { value: "Preschool class or nursery - part of a school", text: "Preschool class or nursery - part of a school" },
          { value: "Working across schools", text: "Local authority - working across schools" },
          { value: "Virtual school", text: "Virtual school" },
          { value: "Hospital school", text: "Hospital school" },
          { value: "Young offender institution", text: "Young offender institution" },
          { value: "Secure children’s home or training centre", text: "Secure children’s home or training centre" },
          { value: "As a lead mentor for an accredited ITT provider", text: "Initial teacher training (ITT) - as a lead mentor for an accredited ITT provider" },
          { value: "Childminding setting", text: "Childminding setting" },
          { divider: "or" },
          { value: "Other", text: "Other" }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}