{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">
        Check your funding eligibility
      </span>

      <h1 class="govuk-heading-xl">
        Your workplace
      </h1>

      <p class="govuk-body">
        Search for your workplace using any combination of postcode, workplace name, URN or street name.
      </p>

      <p class="govuk-body">
        If you work for a trust, search for one of its schools.
      </p>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            If you cannot find your workplace
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">You can:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                check its details on
                <a href="https://get-information-schools.service.gov.uk/Search?SelectedTab=Establishments"
                   class="govuk-link"
                   target="_blank"
                   rel="noopener noreferrer">
                   Get information about schools (opens in a new tab)
                </a>
              </li>
              <li>
                <a href="/setting-funding-check" class="govuk-link">check your workplace setting</a>
              </li>
            </ul>
        </div>
      </details>

      <form class="form" action="/path/of/next/page" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "Search for your workplace",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          id: "event-name",
          name: "eventName"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}